# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore development files
*.md
*.zip


# Ignore version control directories and files and actions
.git/
.github/
.gitignore

# Ignore Terraform files and directories
*.tf
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore IDE and editor directories and files
.idea/
.vscode/
*.swp

# Ignore build directories
build/
dist/

# Ignore configuration files
.env
.env_sample

# Ignore other unnecessary files
.cache/
.DS_Store
*.log
